@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

body {
    margin: 0;
    padding: 30px;
    background-color: rgb(238, 238, 134);
    font-family: 'Poppins', sans-serif;
}

.card-list {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list > .card-container {
    width: 400px;

}