/* -- VARIABLES --  */

:root {
    --cl-light-blue: rgba(97, 218, 251, 1);
}
/* --- RESET ---  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
}

/* -- HEADER -- */

.header-nav-bar {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 2em;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: var(--cl-light-blue);
    font-weight: 800;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

/* -- MAIN --  */

.main-content {
    color: white;
    background: rgba(40, 45, 53, 1);
    height: 100vh;
    padding: 3em;
}

.main-content-title {
    padding-bottom: 1em;
    letter-spacing: -0.05em; 
}

.main-content-list {
    padding-left: 2em;  
    max-width: 400px;
}

.main-content-list li {
    color: var(--cl-light-blue);
    padding-block: 10px;
}

.main-content-list > li::marker {
    font-size: 1.4rem;
}

.main-content-list li span {
    color: white;
}

.main-content-background {
    position: fixed;
    top: 20em;
    left: 33em;
    width: 10em;
    color: white;
}

